.icon-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.add {
    padding: 3px 20px;
    border-radius: 20px;
}

.manage-employee-wrapper {
    margin: 20px 0px;
}

.content {
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    display: flex;
}
.cotainer-details {
    padding-top: 15px;
}
table {
    text-align: center;
    filter: drop-shadow(2px 4px 6px black);
}

.icon {
    cursor: pointer;
}
.edit-icon:hover {
    color: #157af6;
}
.delete-icon:hover {
    color: red;
}


.pagination {
    justify-content: center;
}